@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }

  .btn {
    @apply poppins-semibold bg-[#006D5B] mt-10 rounded-lg w-44 h-14 ;
  }

  .btn-a {
    @apply text-[17px] text-[#FFFFFF] ;
  }